.main img{
 margin: 1rem 1rem;
}
.shadow-jpg{
    width: 10rem;
    height: 16rem;
}
.color-jpg{
    width: 16rem;
    height: 16rem;
}
.drop-shadow-jpg{
    -webkit-filter: drop-shadow(10px 10px 10px rgba(255,235,59,0.74));
}
.box-shadow{
    box-shadow: 10px 10px 10px rgba(255,235,59,0.74);
}
.drop-shadow-png{
    -webkit-filter: drop-shadow(10px 10px 10px rgba(255,235,59,0.74));
}
.sepia-50{
    -webkit-filter: sepia(50%);
}
.sepia-100{
    -webkit-filter: sepia(100%);
}
#blur img{
   /* width: 22rem;
    height: 16rem;*/
}
.blur{
    -webkit-filter: blur(3px);
}
 .hue-circle{
    width: 15rem!important;
    height: 15rem!important;
}
#hue-rotate img{
    width: 10rem;
    height: 16rem;
}
.hue-rotate-90{
    -webkit-filter: hue-rotate(90deg);
}
.hue-rotate-270{
    -webkit-filter: hue-rotate(270deg);
}
.invert-20{
    filter: invert(20%);
}
.invert-100{
    filter: invert(100%)
}
.opacity-20{
    opacity: 0.2;
}
.filter-opacity-20{
    filter:opacity(20%)
}
.opacity-both{
    opacity: 0.2;
    filter:opacity(0.2)
}
.brightness-4{
    filter:brightness(40%)
}
.brightness-8{
    filter:brightness(80%)
}
.contrast-50 {
    filter: contrast(50%)
}
.contrast-200{
    filter:contrast(200%)
}
.gray-scale-50{
    filter:grayscale(50%)
}
.gray-scale-100{
    filter:grayscale(100%)
}
.saturate-50{
    filter: saturate(50%);
}
.saturate-200{
    filter: saturate(200%);
}

#background-multiply{
    height: 13rem;
    background: url(images/images.jpeg) no-repeat,url(images/b9.jpg) no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
}
.mix-blend-mode{
    position: relative;
    width: 200px;
    height: 179px;
    float: left;
    margin-bottom: 1rem;
    margin-right: 10px;
    background-color: #DD4A68;
}
/*让两张图片重叠在一起*/
.mix-blend-mode img{
    position: absolute;
    width: 200px;
    height: 179px;
}
.mix-normal{
    mix-blend-mode: normal;
}
.mix-color{
    mix-blend-mode: color;
}
.mix-color-burn{
    mix-blend-mode:color-burn;
}
.mix-color-dodge{
    mix-blend-mode: color-dodge;
}
.mix-darken{
    mix-blend-mode: darken;
}
.mix-difference{
    mix-blend-mode: difference;
}
.mix-exclusion{
    mix-blend-mode: exclusion;
}
.mix-hard-light{
    mix-blend-mode: hard-light;
}
.mix-hue{
    mix-blend-mode: hue;
}
.mix-inherit{
    mix-blend-mode: inherit;
}
.mix-initial{
    mix-blend-mode: initial;
}
.mix-lighten{
    mix-blend-mode: lighten;
}
.mix-luminosity{
    mix-blend-mode: luminosity;
}
.mix-overlay{
    mix-blend-mode: overlay;
}
.mix-saturation{
    mix-blend-mode: saturation;
}
.mix-screen{
    mix-blend-mode: screen;
}
.mix-soft-light{
    mix-blend-mode: soft-light;
}
.mix-unset{
    mix-blend-mode: unset;
}

#mix-blend-mode:after{
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.mix-blend-mode-background{
    background-color: rgb(74,147,204);
}
.mix-blend-mode-background img{
    width: 229px;
    height: 229px;
}
.mix-background-lighten{
    mix-blend-mode: lighten;
}
.mix-background-screen{
    mix-blend-mode: screen;
}
.mix-background-difference{
    mix-blend-mode: difference;
}
.mix-background-luminosity{
    mix-blend-mode: luminosity;
}
.background-blend-mode div{
    background-size: cover;
    width: 300px;
    height: 240px;
    float: left;
    margin-right: 10px;
}
.background-blend-mode-self{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: unset;
}
.background-blend-mode-color{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: screen;
}
.background-blend-mode-luminosity{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: luminosity;
}
.background-blend-mode-exclusion{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: exclusion;
}
.background-blend-mode-overlay{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: overlay;
}
.background-blend-mode-soft-light{
    background: url(./images/g.jpg) #673AB7 no-repeat;
    background-blend-mode: soft-light;
}